@import '../../../styles.scss';
.hide{
    display: none;
}
.open{
    height: 66.4%;
    transition: all .3s ease;
}
.close{
    height: 86.4%;
    transition: all .3s ease;
}

.body{
    background: $first-color;
    justify-content: center;
    align-items: center;
    &_language{
        width: 90px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 15%;
        right: 10%;
        span{
            font-size: 18px;
            color: $second-color;
            font-weight: 600;
        }
    }

}