<div class="body open flex" id="body">
    <div id="mobile" class="body_container">
        <div class="body_container-circle flex">
            <div class="body_container-circle-out">
            </div>
            <div class="body_container-circle-in">
    
            </div>
        </div>
    </div>
    <div id="tablet" class="body_container">
        <div class="body_container-circle flex">
            <div class="body_container-circle-out">
            </div>
            <div class="body_container-circle-in">
    
            </div>
        </div>
    </div>
    <div id="dekstop" class="body_container">
        <div class="body_container-circle flex">
            <div class="body_container-circle-out">
            </div>
            <div class="body_container-circle-in">
    
            </div>
        </div>
    </div>
</div>
