@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@font-face {
    font-family: 'Roboto Mono';
    src: url('../src/assets/fonts/static/RobotoMono-Regular.ttf') format('truetype');
    font-style: normal;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
$first-color: #000000;
$second-color: #f1ae00;
$third-color: #63686b;
$hlight-color: #ffffff;
$shadow: #393939;
$Roboto: 'Roboto Mono';
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.block{
    display: block;
}
.hide{
    display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
