<div id="footer" class="footer">
    <div class="footer_flap flex" >
        <div class="footer_flap-lat">
        </div>
        <div class="footer_flap-center flex" (click)="openFlap()">
            <i id="chevron" class="bi bi-chevron-down"></i>
        </div>
        <div class="footer_flap-lat">
        </div>
    </div>
    <div id="container" class="footer_container flex footerup">
        <div class="footer_container-lat flex">
            <div class="footer_container-lat-social icon flex">
                <div class="footer_container-lat-social-element flex">
                    <i class="bi bi-linkedin"></i>
                </div>
                <div class="footer_container-lat-social-element flex">
                    <i class="bi bi-github"></i>
                </div>
                <div class="footer_container-lat-social-element flex">
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
            <div class="footer_container-lat-copy flex">

            </div>
        </div>
    </div>
</div>
